{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" > Nro  </th>
        <th scope="col" > Descripción  </th>
    </tr>
{% endblock %}

{% block rows %}
    {% for r in object_list %}
        <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.descripcion }}</td>
            <td>
                <a href="{% url 'apl:raza_modificar' r.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'apl:raza_eliminar' r.id %}" type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}